<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mospi.ageteApiDemo"
    android:versionCode="11"
    android:versionName="1.10" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.INTERNET" android:required="false" />
	<uses-permission android:name="android.permission.CAMERA" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" android:required="false" />   
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE" android:required="false" />
	<uses-permission android:name="android.permission.SEND_SMS" android:required="false" />
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" android:required="false" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" android:required="false" />
    <uses-permission android:name="android.permission.VIBRATE" android:required="false" />
    <uses-permission android:name="android.permission.READ_CONTACTS" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_GPS" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION" android:required="false"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" android:required="false" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" android:required="false" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" 
        android:allowBackup="true">
        <activity
            android:name="org.mospi.agateApiDemo.AgateAPIDemoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>